<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hackathon</title>
</head>
<body>
    <form action='{{ url_for("home") }}' method='POST'>
        <label for='city'>City: </label>
        <input type='text' name='city' required>
        <br>
        <label for='state'>State: </label>
        <input type='text' name='state' required>
        <br>
        <label for='plant'>Plant: </label>
        <input type='text' name='plant' required>
        <br>
        <input type='submit' value='Submit'>
    </form>
</body>
</html>
